html, body {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  width: 380px;
  background: #1e1e1e;
  font-family: Helvetica,Arial,sans-serif;
}
.bttv_popup a {
  text-decoration: none;
}
.bttv_popup-header {
  position: relative;
  width: 100%;
  height: 46px;
  display: flex;
  font-size: 16px;
  background: #282828;
  border-bottom: 1px solid #111111;
  color: #adafae;
}
.bttv_popup-logo {
  padding: 5px;
}
#bttv_nav {
  position: relative;
  height: 100%;
  display: flex;
}
.bttv_nav-tab {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
  line-height: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-shadow: 0 -1px 0 rgba(0,0,0, .25);
  transition: .15s ease-out;
}
.bttv_nav-tab--current {
  color: #d3d3d3;
}
.bttv_nav-tab:hover,
.bttv_nav-tab--current {
  border-bottom: 1px solid #ff0000;
}
#bttv_close {
  height: 46px;
  width: 46px;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  opacity: .2;
  cursor: pointer;
  transition: .05s ease-out;
}
#bttv_close:hover {
  color: #ffffff;
  opacity: .4;
}

.bttv_pages {
  position: relative;
  height: 350px;
}
.bttv_page {
  height: 100%;
  position: absolute;
  top: 0;
  color: #d3d3d3;
  transition: .15s ease-out;
}
.bttv_page--info {
  padding: 17px 17px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bttv_page--info h1 {
  font-size: 20px;
  line-height: 1.2;
  color: #d3d3d3;
}
.bttv_page--info h2 {
  font-size: 16px;
}
.bttv_page--info a,
.bttv_page--info a * {
  color: #888888;
}
.bttv_page--info a:hover {
  text-decoration: underline;
}
.bttv_page-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bttv_page-option {
  display: flex;
  padding: 3px 10px 2px;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .04);
}
.bttv_page-option:nth-child(2n) {
  background: #232323;
}
.bttv_page-option--about {
  max-width: 235px;
  font-size: 12px;
  padding: 11px 0 10px;
}
.bttv_page-option--name {
  font-weight: bold;
  font-size: 14px;
}
.bttv_page-option--desc {
  color: #999;
}

.bttv_switch {
  margin: auto;
  width: 120px;
  height: 26px;
  border-radius: 3px;
  background: rgba(0,0,0, .25);
  box-shadow: inset 0 1px 3px rgba(0,0,0, .3), 0 1px rgba(255,255,255, .1);
}
.bttv_switch label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.bttv_switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.bttv_switch-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.bttv_switch-span {
  width: 50%;
  text-align: center;
  line-height: 26px;
  z-index: 2;
  transition: .15s ease-out;
}
.bttv_switch-mark {
  height: 22px;
  width: 56px;
  top: 2px;
  left: 2px;
  position: absolute;
  border-radius: 3px;
  background: #111;
  transition: .15s ease-out;
  z-index: 1;
}
.bttv_switch-span--off {
  font-weight: bold;
  text-shadow: 0 1px rgba(0,0,0, .25);
}
.bttv_switch input:checked ~ .bttv_switch-box .bttv_switch-span--off {
  font-weight: normal;
  text-shadow: none;
}
.bttv_switch input:checked ~ .bttv_switch-box .bttv_switch-span--on {
  font-weight: bold;
  text-shadow: 0 1px rgba(0,0,0, .25);
}
.bttv_switch input:checked ~ .bttv_switch-box .bttv_switch-mark {
  left: 62px;
  background: #c54e4e;
  background-image: linear-gradient(to bottom, #c54e4e, #ab2525);
  box-shadow: inset 0 1px rgba(255,255,255, .5), 0 0 2px rgba(0,0,0, .2);
}

.footer {
  position: relative;
  width: 100%;
  background: #282828;
  padding: 5px 0;
  border-top: 1px solid #111111;
  text-align: right;
  z-index: 3;
}
.footer a {
  color: #ff0000;
  opacity: .7;
  font-weight: bold;
  margin-right: 5px;
}